# model : vmb1usb
# description : VMB1USB Velbus USB interface
SUBSYSTEM=="tty" ATTRS(manufacturer)=="Velleman Projects" ATTRS{product}=="VMB1USB Velbus USB interface" SYMLINK+="velbus" MODE="0666"
